fastapi
uvicorn[standard]

python-multipart
python-jose[cryptography]
passlib[bcrypt]

motor
pymongo

pydantic
pydantic-settings
python-dotenv

slowapi
redis

httpx

web3
eth-account

groq

pytz
python-dateutil
gunicorn
