fastapi
uvicorn[standard]

python-dotenv
motor

pydantic[email]
pydantic-settings

PyJWT
eth-account
web3

python-multipart

groq

apscheduler

redis

# Needed internally by web3 / eth-account sometimes
eth-utils>
eth-abi>

# Production server (important for Render)
gunicorn
