fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
pydantic-settings
python-dotenv
psycopg2-binary
alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
httpx
redis
web3
httptools
email-validator
